/* Siga as orientações no arquivo README para concluir o exercício */

.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: green;
    color: purple;
}

.cabecalho{
    background-color: blueviolet;
    display: flex;
    justify-content: center ;
    /* Desafio2 */
     p:nth-child(3) {
    color: purple;}
    background-color: yellow;
    color: darkblue;
}

.principal{
    font-size: 32px;
    font-style: bold;
    color: red;
}

.subtitulo{
    color: aqua;
}



/* desafio */
.conteudo{
    
    p{
        color: #E4005A;
        font-size: 42px;
    }
   
}